@model Digital_photos.ViewModal.myuserdetails

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Home/Frontend_Layout.cshtml";
}

<div class="page-header contact padT100 padB70">
    <div class="container"> 
        <div class="row">
            <div class="col-md-12">
                <!-- Theme Heading -->
                <div class="theme-heading">
                    <h1>My Profile</h1>
                    <h3><span class="heading-shape">My <strong>Profile</strong></span></h3>
                </div>
                <!-- Theme Heading -->
                <div class="breadcrumb-box">
                    <ul class="breadcrumb text-center colorW marB0">
                        <li>
                            <a href="~/Home/Index">Home</a>
                        </li>
                        <li class="active">Profile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<!--//================Contact start==============//-->
<div class="padB100 padT100">
    <div class="container" style="width:100%">
        
        <!-- Theme Heading -->
        <div class="theme-heading">

            <h1>@Session["name"]</h1>
            <h3><span class="heading-shape">@Session["name"]</span></h3>
        </div>
        <!-- Theme Heading -->
    </div>
    <div class="nowp" style="width: 100vw; display:flex; flex-flow:row; margin-right: 2vw; margin-left: 2vw;">

        
        <div style="margin-top: 5vw; width: 28vw; height:fit-content; box-shadow: -3px -3px 10px 5px grey;">
            @foreach (var myuser in Model.users.Where(u => u.id == (int)Session["id"]))
            {
                <img src="~/Profile_Img/@Session["profile"]" alt="Not Available" class="img-thumbnail" style="width: 27.7vw; height: 27.7vw; border:none;" />
                <h3 style="text-align:center">User Profile</h3>
                <div>
                    <table class="table">
                        <tr>
                            <th>First Name</th>
                            <td>@myuser.First_Name</td>
                        </tr>
                        <tr>
                            <th>Last Name</th>
                            <td>@myuser.Last_Name</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>@myuser.Email</td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td><input type="password" value="@myuser.Pass" readonly style="border:none; outline:none" /></td>
                        </tr>
                        <tr>
                            <th>Date Of Birth</th>
                            <td>@myuser.Date_Of_Birth</td>
                        </tr>
                        <tr>
                            <th>Gender</th>
                            <td>@myuser.Gender</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>@myuser.Phone</td>
                        </tr>
                    </table>
                </div>
                <p>
                    <a class="itg-button" href="@Html.ActionLink("Edit", "Edit", new { id = myuser.id })"></a>
                </p>
            }
        </div>

        
        <div class="container-fluid" style="width: 68vw; height: fit-content; margin-top: 5vw;">

            <h2 class="text-center" style="margin-bottom: 2.5vw">ORDERS</h2>

            <div class="row justify-content-around">

                @foreach (var myorder in Model.price_Infos.Where(o => o.id == (int)Session["id"]))
                {

                    <div class="col-xl-2 col-md-4" style=" border: dotted; border-color: orange; margin-right: 1.8vw; margin-left:1.8vw;">
                        <div class="card mb-3">
                            <div class="card-body text-warning">
                                <h5 class="card-title" style=" border-bottom: dotted; border-bottom-color: orange">Order</h5>
                                <p class="card-text">
                                    Some quick example text to <br /> build on the card title and <br />
                                    @myorder.id
                                    <br /> make up the bulk of the card's content.
                                    <h1>@ViewBag.ud</h1>
                                </p>
                            </div>
                        </div>
                    </div>

                }
            </div>


            <h2 class="text-center" style="margin-bottom: 0.5vw; margin-top:3vw;">My Album</h2>
            <h3 class="text-center" style="margin-bottom: 2.5vw;"><label data-toggle="modal" data-target="#mypic" style="border-color:orangered; color:black;" class="itg-button">Add Photo</label></h3>

            <!--Add New Photograph-->

            <div class="modal fade" id="mypic" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Print Photo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <form action="~/Photograph/Create" enctype="multipart/form-data" method="post">
                            <div class="modal-body">

                                <div class="form-group">
                                    <label>Category Name</label>
                                    <select name="catg" required>
                                        <option>Select Category</option>
                                        @foreach (category mycatg in Model.categories)
                                        {
                                            <option value="@mycatg.id">@mycatg.Category_Name</option>
                                        }
                                    </select>
                                </div>

                                <div align="center" class="form-group mb-3 w-100">

                                    <!-- Scripting for Image -->
                                    <script>
                                        var loadFile = function (event) {
                                            var image = document.getElementById('output');
                                            image.src = URL.createObjectURL(event.target.files[0]);
                                        };
                                    </script>
                                    <div style="width: 50%; border: solid black 1px; height:20.5vw; justify-items:center">
                                        <img id="output" style="max-height: 20vw;" />
                                    </div>
                                </div>



                                <div align="center" class="form-group mb-3 w-100"">
                                    <div>
                                        <p><input type="file" accept="image/*" name="image" id="file" onchange="loadFile(event)" style="display: none;"></p>
                                        <p><label for="file" class="rounded-pill btn btn-outline-dark" style="cursor: pointer;">Upload Image</label></p>
                                    </div>
                                </div>
                            </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                                    <button type="submit" class="btn btn-primary">Add</button>

                                </div>
                        </form>
                    </div>
                </div>
            </div>



            <!-- PHOTOGRAPHS -->
            <div class="container-fluid">
                <div class="row">
                    <div class="mixitup-btn col-xs-12 marB30">
                        <a class="filter" data-filter="all"><span>ALL</span></a>
                        <a class="filter" data-filter=".mycasual"><span>Casual</span></a>
                        <a class="filter" data-filter=".myparty"><span>Party</span></a>
                        <a class="filter" data-filter=".myouting"><span>Outing</span></a>
                        <a class="filter" data-filter=".mynature"><span>Nature</span></a>
                        <a class="filter" data-filter=".myfestival"><span>Festival</span></a>
                    </div>
                </div>
            </div>

            <div class="mix-default container-fluid">
                <div class="row">
                    <div id="mixItUp">

                        @foreach (Photograph myphoto in Model.photographs.Where(p => p.category_id == 5 && p.UserId == (int)Session["id"]))
                        {
                            <div class="work-gallery simple  col-md-3 col-sm-6 col-xs-12 mix mycasual">
                                <div class="theme-hover">
                                    <figure style="width:500">
                                        <img src="~/PhotoToPrint/@myphoto.Photo" alt="" />
                                        <figcaption>
                                            <div class="content">
                                                <div class="content-box">
                                                    <a href="~/PhotoToPrint/@myphoto.Photo" class="fancybox" data-fancybox-group="group"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        }

                        @foreach (Photograph myphoto2 in Model.photographs.Where(p => p.category_id == 1 && p.UserId == (int)Session["id"]))
                        {
                            <div class="work-gallery simple  col-md-3 col-sm-6 col-xs-12 mix myparty">
                                <div class="theme-hover">
                                    <figure>
                                        <img src="~/PhotoToPrint/@myphoto2.Photo" alt="" />
                                        <figcaption>
                                            <div class="content">
                                                <div class="content-box">
                                                    <a href="~/PhotoToPrint/@myphoto2.Photo" class="fancybox" data-fancybox-group="group"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        }

                        @foreach (Photograph myphoto3 in Model.photographs.Where(p => p.category_id == 3 && p.UserId == (int)Session["id"]))
                        {
                            <div class="work-gallery simple  col-md-3 col-sm-6 col-xs-12 mix myouting">
                                <div class="theme-hover">
                                    <figure>
                                        <img src="~/PhotoToPrint/@myphoto3.Photo" alt="" />
                                        <figcaption>
                                            <div class="content">
                                                <div class="content-box">
                                                    <a href="~/PhotoToPrint/@myphoto3.Photo" class="fancybox" data-fancybox-group="group"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        }

                        @foreach (Photograph myphoto4 in Model.photographs.Where(p => p.category_id == 4 && p.UserId == (int)Session["id"]))
                        {
                            <div class="work-gallery simple  col-md-3 col-sm-6 col-xs-12 mix  mynature">
                                <div class="theme-hover">
                                    <figure>
                                        <img src="~/PhotoToPrint/@myphoto4.Photo" alt="" />
                                        <figcaption>
                                            <div class="content">
                                                <div class="content-box">
                                                    <a href="~/PhotoToPrint/@myphoto4.Photo" class="fancybox" data-fancybox-group="group"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        }

                        @foreach (Photograph myphoto5 in Model.photographs.Where(p => p.category_id == 2 && p.UserId == (int)Session["id"]))
                        {
                            <div class="work-gallery simple col-md-3 col-sm-6 col-xs-12 mix myfestival">
                                <div class="theme-hover">
                                    <figure>
                                        <img src="~/PhotoToPrint/@myphoto5.Photo" alt="" />
                                        <figcaption>
                                            <div class="content">
                                                <div class="content-box">
                                                    <a href="~/PhotoToPrint/@myphoto5.Photo" class="fancybox" data-fancybox-group="group"><i class="fa fa-file-image-o" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>

        </div>
        
    </div>
</div>